/* Display only. Not needed! */

@import "https://raw.githubusercontent.com/jonathantneal/system-font-css/gh-pages/system-font.css";

.wholeForm {
  background: dodgerblue linear-gradient(45deg, aqua, dodgerblue, deeppink)
    fixed;
  color: white;
  font: normal 32px/1.6 system-ui, sans-serif;
  text-shadow: 0 1px 1px hsl(0 0% 0% / 20%);
  margin: 3rem;
  width: 90vw;
  height: 50vh;
  text-align: center;
}
.inside {
  padding: 30px;
}

input {
  font: inherit;
  padding: 0.2em 0.5em;
}
label {
  width: 200px;
}
